<a href="/">Back to Dashboard</a>
<h1>World:</h1>
<% @robots.each do |robot| %>
<ul>
  <img src="<%= robot.avatar %>" />
<a href="robots/<%= robot.id %>"><h4><%= robot.name %></h4></a>
  <li>City: <%= robot.city %></li>
  <li>State: <%= robot.state %></li>
  <li>Birthdate: <%= robot.birthdate %></li>
  <li>Date Hired: <%= robot.date_hired %></li>
  <li>Department: <%= robot.department.capitalize %></li>
</ul><br/>
<% end  %>
