<div class="center">
  <img src="<%= @robot.avatar %>">
  <b><h3><%= @robot.name %></h3></b>
  <p>City: <%= @robot.city %></p>
  <p>State: <%= @robot.state %></p>
  <p>Birthdate: <%= @robot.birthdate %></p>
  <p>Date Hired: <%= @robot.date_hired %></p>
  <p>Department: <%= @robot.department.capitalize %></p><br/>

  <div id="outer" class="row">
    <a class="waves-effect waves-light btn inner" href="/robots/<%= @robot.id %>/edit">Edit</a>
    <form class="inner" action="/robots/<%= @robot.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input class="waves-effect red lighten-1 btn" type="submit" value="delete"/>
    </form>
  </div>
</div>
